<!--<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to HT App</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button color="primary" expand="block" size="large" (click)="goToScanner()">
          <div class="ion-text-wrap">Scan QR</div>
          <ion-icon slot="end" name="md-qr-scanner"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="block" size="large" (click)="goToSelect()">
          <div class="ion-text-wrap">Select Trailer</div>
          <ion-icon slot="end" name="md-locate"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button color="primary" expand="block" size="large" (click)="goToTabs()">
          <div class="ion-text-wrap">See Tasks</div>
          <ion-icon slot="end" name="md-list"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="block" size="large" (click)="goToTabs()">
          <div class="ion-text-wrap">Access Map</div>
          <ion-icon slot="end" name="md-map"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer align="center" no-border padding>
  <img src="../assets/ht_logo.png">
</ion-footer>
