<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="front"></ion-back-button>
    </ion-buttons>
    <ion-title>Scan QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding></ion-content>
