<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="front"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Trailer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider><ion-label class="dividerText">20ft</ion-label></ion-item-divider>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H101</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H102</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H103</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H105</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H106</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H107</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H108</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H109</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H110</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H113</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H115</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H116</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H117</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H118</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H119</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H120</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H121</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H122</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H123</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider class="dividerText"><ion-label>40ft 2-axles</ion-label></ion-item-divider>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H201</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H202</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H203</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H205</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H206</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider class="dividerText"><ion-label>40ft 3-axles</ion-label></ion-item-divider>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H301</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H302</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H303</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H305</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H306</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H307</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H308</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H309</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H310</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H311</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H312</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H313</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H315</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H316</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H317</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H318</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider class="dividerText"><ion-label>Cargo Bed</ion-label></ion-item-divider>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H501</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H502</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H503</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H505</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H506</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H507</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider class="dividerText"><ion-label>Side Loader</ion-label></ion-item-divider>
    <ion-item (click)="buttonClick($event)">
      <ion-label>H601</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider class="dividerText"><ion-label>Lowbed</ion-label></ion-item-divider>
    <ion-item (click)="buttonClick($event)">
      <ion-label>L01</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>L02</ion-label>
    </ion-item>
    <ion-item (click)="buttonClick($event)">
      <ion-label>L03</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
