<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo" align="center"><img src="../assets/ht_logo.png"></div>
  <form [formGroup]="loginForm" novalidate>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email"
        placeholder="Your email address">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
       loginForm.controls.email.touched">
        <p>Please enter a valid email address.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password"
        placeholder="Your password">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
      && loginForm.controls.password.touched">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <ion-row padding>
        <ion-col text-center>
          <ion-button shape="round" (click)="loginUser()" [disabled]="!loginForm.valid">
            Log In
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button shape="round" (click)="goToMain()">
            Back
          </ion-button>
        </ion-col>
      </ion-row>

  </form>

</ion-content>
