form {
  margin-bottom: 32px;
  button {
    margin-top: 20px !important;
  }
}

p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-label {
  margin-left: 5px;
}

ion-input {
  padding: 5px;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}

.error-message {
  min-height: 2.2rem;
  p {
    font-size: 60%;
  }
  ion-label {
    margin: 2px 0;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}

.logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

ion-button {
  --background: #ffffff;
  --color: #1418CA;
  --box-shadow: none;
  --border-style: solid;
  --border-width: 2px;
  --border-color: #74D300;
  --border-radius: 50%;
  --background-hover: #74D300;
  --background-activated: #74D300;
  height: 100px;
  width: 100px;
}
