<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" *ngIf="toggleTask">
      <ion-icon name="md-list"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4" *ngIf="toggleMap">
      <ion-icon name="md-map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="md-qr-scanner"></ion-icon>
      <ion-label>ScanQR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="md-locate"></ion-icon>
      <ion-label>Select</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
