<ion-header>
  <ion-toolbar>
    <ion-title>Scan QR</ion-title>
    <ion-button slot="secondary" fill="outline" (click)="logoutUser()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding></ion-content>
