<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
    <ion-button slot="secondary" fill="outline" (click)="logoutUser()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="header">
      <ion-col size="3">Consignee</ion-col>
      <ion-col size="2">Date</ion-col>
      <ion-col size="3">Comm.</ion-col>
      <ion-col size="2">Dest.</ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row *ngFor="let task of tasks" class="tasks">
      <ion-col size="3">{{task.consignee}}</ion-col>
      <ion-col size="2">{{task.start | date:'dd-MMM'}}</ion-col>
      <ion-col size="3">{{task.container}}{{task.cargo}}</ion-col>
      <ion-col size="2">{{task.destination}}</ion-col>
      <ion-col size="2"><ion-button size="small" (click)="goToDOPage($event, task)">D/O</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <!--<div class="col"><button ion-button item-end (click)="goToDOPage($event, job)">Get DO</button></div>-->
</ion-content>
