.col {
  border: solid 1px lightgrey;
}

.header {
  font-weight: bold;
  font-size: 0.85em;
}

.tasks {
  font-size: 0.85em;
}

ion-col {
  border: 0.8px solid lightgrey;
}

.header {
  background-color: #74D300;
  color: #1418CA;
}
