<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="front"></ion-back-button>
    </ion-buttons>
    <ion-title>Delivery Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="header">
      <ion-col size="4">Consignee</ion-col>
      <ion-col size="4">Commodity</ion-col>
      <ion-col size="4">Destination</ion-col>
      <!--<ion-col></ion-col>-->
    </ion-row>
    <ion-row class="task">
      <ion-col size="4">{{task.consignee}}</ion-col>
      <ion-col size="4">{{task.container}}{{task.cargo}}</ion-col>
      <ion-col size="4">{{task.destination}}</ion-col>
    </ion-row>
  </ion-grid>

  <div class="canvas">
  <signature-pad [options]="signaturePadOptions"></signature-pad>
  </div>
  <br>
  <ion-item>
    <ion-label stacked>Recipient</ion-label>
  <ion-input placeholder="Enter Name" [(ngModel)]="task.signatory" clearInput></ion-input>
  </ion-item>
  <br>

  <ion-row padding>
    <ion-col class="button-col" text-center>
      <ion-button (click)="saveSignature(task, id)">Save</ion-button>
    </ion-col>
    <ion-col class="button-col" text-center>
      <ion-button (click)="clearPad()">Clear</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
