
.canvas {
  border: 1px solid grey;
}

.col {
  border: solid 1px lightgrey;
}

.header {
  font-weight: bold;
  font-size: 0.85em;
  background-color: #74D300;
  color: #1418CA;
}

.task {
  font-size: 0.85em;
}

ion-col {
  border: 0.8px solid lightgrey;
}

.button-col {
  border: 0;
}

ion-button {
  --background: #ffffff;
  --color: #1418CA;
  --box-shadow: none;
  --border-style: solid;
  --border-width: 2px;
  --border-color: #74D300;
  --border-radius: 50%;
  --background-hover: #74D300;
  --background-activated: #74D300;
  height: 100px;
  width: 100px;
}
